.ContactData{
    margin:20px auto;
    width:80px; 
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 3px solid #eee;
    padding: 40px;
    box-sizing: border-box;
}

@media (min-width:600px){
    .ContactData{
        width:500px;
    }
}